body {
    text-align: center;
}

h1,
h2,
h3 {
    margin: 5px;
}

table {
    margin: 30px auto;
    border: 3px solid green;
    padding: 10px;
    background: black;
}

#maze {
    /* font-size: 0; */
    border-collapse: collapse;
    border: 10px solid black;
}

#maze > tr > td {
    height: 15px;
    width: 15px;
    display: inline-block;
    margin: 0;
    background: black;
    color: white;
}

.unknown {
    /* background: white !important; */
    color: white !important;
}

.wall {
    background: white !important;
}

.droid {
    /* background: red; */
    font-size: 14px;
    padding: 1px;
}

.oxygen-system {
    color: lightgreen;
}
